.halfs
  display flex
  flex-flow row wrap
  justify-content left
  align-content top

.findings-text
  flex-basis 50%
  flex-grow 1

.findings-graphs
  flex-basis 50%
  flex-grow 1

.halfsize
  width 90%
