<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="data.length==0 || measurements.length==0">
    <h2>Load files</h2>
    <div>
        <h3>Dataset</h3>
        <input *ngIf="data.length==0" type="file" (change)="loadData($event)"/>
        <span *ngIf="data.length>0">Data loaded</span>
    </div>
    <div>
        <h3>Measurements</h3>
        <input *ngIf="measurements.length==0" type="file" (change)="loadMeasurements($event)"/>
        <span *ngIf="measurements.length>0">Measurements loaded</span>
    </div>
</div>
<div *ngIf="data.length>0 && measurements.length>0">
    <p>Dataset received is {{data.length}} lines long</p>
    <p>Measurement definitions received is {{measurements.length}} lines long</p>
</div>
