mat-card-content
  display flex
  flex-flow column wrap
  justify-content left
  align-content top

.file_upload__input
  display flex
  flex-flow column wrap
  justify-content left
  align-content top

.editing_card
  display flex
  flex-flow row wrap
  justify-content left
  align-content top
