<div *ngIf="data.length==0 || measurements.length==0">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Load files</mat-card-title>
      <mat-card-subtitle>Select csv files for coursework</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="file_upload__input">
        <h3>Data</h3>
        <input *ngIf="data.length==0" type="file" (change)="loadData($event)"/>
        <span *ngIf="data.length>0">Dataset loaded</span>
      </div>
      <div class="file_upload__input">
        <h3>Measurements</h3>
        <input *ngIf="measurements.length==0" type="file" (change)="loadMeasurements($event)"/>
        <span *ngIf="measurements.length>0">Measurements loaded</span>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="data.length>0 && measurements.length>0">
  <app-findings [findingDataset]="data" [findingAreas]="areas"></app-findings>
</div>
